AddDefaultCharset UTF-8
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.mode.in.ua$ [NC]
RewriteRule ^(.*)$ http://mode.ua/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^mode.in.ua$ [NC]
RewriteRule ^(.*)$ http://mode.ua/$1 [R=301,L]

#Redirect 301 /glavnaya-novost/ /category/novosti/
